<h1>*ngFor</h1>
<!-- <input type="text" required [(ngModel)]="p_name">
<input type="text" required [(ngModel)]="p_image">
<input type="number" required [(ngModel)]="p_price">
<button (click)="addProduct()" class="btn btn-primary">Agregar</button> -->

<table>
    <thead>
         <tr>
             <th>NOMBRE</th>
             <th>PRECIO</th>
             <th>IMAGEN</th>
         </tr>
    </thead> 
    <tbody>
     <tr>
         <td><input type="text" required [(ngModel)]="p_name"></td>
         <td><input type="text" required [(ngModel)]="p_price"></td>
         <td><input type="text" required [(ngModel)]="p_image"></td>
 
     </tr>
     <button (click)="addProduct()" class="btn btn-primary">Agregar</button>

    </tbody>
 </table>



<h2>PRODUCTS</h2>
<div *ngFor="let product of products">
    <img [src]="product.image" height="200px" alt="image">
    <h3>{{ product.name }}</h3>
    <p>Precio: {{ product.price }}</p>
</div>




<input type="text" required [(ngModel)]="o_nombre">
<input type="number" required [(ngModel)]="o_edad">
<button (click)="addPerson()" class="btn btn-primary">Agregar</button>
        
<table>
   <thead>
        <tr>
            <th>NOMBRE</th>
            <th>EDAD</th>
        </tr>
   </thead> 
   <tbody>
    <tr *ngFor="let per of persons; index as i">
        <td>{{ per.nombre }}</td>
        <td>{{ per.edad }}</td>
        <td><button (click)="deletePerson(i)" class="btn btn-primary">Eliminar</button>
        </td>

    </tr>
   </tbody>
</table>

<br/>
<input type="text" required [(ngModel)]="name">
<button (click)="addName()" class="btn btn-primary">Agregar</button>

<ul>
    <li *ngFor="let nombre of nombres; index as i">
        {{ i }} - {{ nombre }}
        <button (click)="deleteName(i)" class="btn btn-primary">Eliminar</button>

    </li>
        
</ul>

<h1>*ngIf</h1>
<p *ngIf="btn">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Blanditiis voluptatem in inventore vel eveniet quae exercitationem mollitia deserunt laboriosam atque, beatae perspiciatis, iste eaque aspernatur nulla accusantium odio ipsa ratione!</p>

<h1>ng MODEL</h1>
<input type="text" [(ngModel)]="persona.nombre">
<input type="text" required #edadInput="ngModel" [(ngModel)]="persona.edad">
<p>Valido: {{ edadInput.valid }}</p>
<h1>event binding</h1>
<button [disabled]="btn" class="btn btn-primary">sent</button>
<button (click)="cambioParametro()" class="btn btn-primary">Hey</button>
<div>
    <button (click)="edadAdd()" class="btn btn-primary">edadAdd</button>
    <p>Edad: {{persona.edad}}</p>
    <input type="text" [value]="persona.nombre" (keyup)="changeName($event)">
</div>
<div class="box" (scroll)="onScroll($event)">
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid rem atque earum minima? Non qui, earum nobis reiciendis in veritatis repudiandae doloribus ex velit eos minima exercitationem magnam, commodi odio?
    </p>
</div>

<h1>property binding</h1>
<img [src]="img" height="200px" alt="">
<button (click)="edadAdd()" class="btn btn-primary">edadAdd</button>

<div>
    <input type="text" [value]="persona.nombre">
    <input type="text" [value]="persona.edad">
</div>
<h1>hey que tal?</h1>
<h2>{{ titulo }}</h2>
<button class="btn btn-primary">Hey</button>